@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1f2937;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 10px;
    border: 2px solid #1f2937;
  }
}
.social-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.social-icon i {
  font-size: 2rem;
  color: #333;
  transition: color 0.3s, transform 0.3s;
}

.social-icon i:hover {
  color: #0077ff;
  transform: scale(1.2);
}
